h1,
h2,
h3
h4 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;

}

h1 {
    color: brown;

}

h2 {
    color: crimson;
}

h3 {
    color:darkmagenta;
}

h4{
    color:darkslateblue
}

li {
    font-size: 24px;
    color:chocolate;
    font-family: 'Courier New', Courier, monospace;

}

p {
    color: white;
    background-color: black;
    font-size: 24px;
}

img {
    height: 500px;
    width: 500px;
}