h1 {
    color: brown;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
}

li {
    font-size: 24px;
    color:chocolate;
    font-family: 'Courier New', Courier, monospace;

}

p {
    color: white;
    background-color: black;
}

h2 {
    color: crimson;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: 500px;
    width: 500px;
}